<header>
  <%= link_to "Cards Index", "/cards" %>
  <%= link_to "Magic Decks Index", "/magic_decks" %>
  <h1>Magic Deck Index</h1>
</header>
<section>
  <% @magic_decks.each do |deck| %>
    <ul>
      <li><%= deck.name %>, created at: <%= deck.created_at %></li>
    </ul>
  <% end %>
</section>